<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        
        {% block title %} {% endblock %}

    </title>
</head>
<body>
    <h1 style="background-color: blue ; color:white; text-align: center;">
        Dragon ball Z
    </h1>

    <h3 style= "text-align: right;">Capitulos de dragon ball Z, Super y GT</h3>

    {% block content %}

    {% endblock %}

    <p style="background-color: blue ; color:white; text-align: right;">Videos gratuitos. Gracias por su visita</p>

</body>
</html>